PGID=
PUID=

LAN_IP=

ADMIN_USER=
ADMIN_PASSWORD=
INFLUXDB_READ_USER=
INFLUXDB_READ_PASSWORD=
SCRAPE_URI=http://somehost:9080/

IN_KEY=/etc/acme/some.domain/some.domain.key
IN_CER=/etc/acme/some.domain/fullchain.cer
IN_PW=
UNIFI_PW=

MAC_PROMETHEUS=
MAC_GRAFANA=
MAC_NODEEXPORTER=
MAC_CADVISOR=
MAC_INFLUXDB=
MAC_NGINXEXPORTER=
MAC_UNIFI=02:42:01:37:40:10

SUBNET_MONITORING=
