PGID=
PUID=

LAN_IP=

ADMIN_USER=
ADMIN_PASSWORD=
SCRAPE_URI=http://somehost:9080/

IN_KEY=/etc/acme/some.domain/some.domain.key
IN_CER=/etc/acme/some.domain/fullchain.cer
IN_PW=
UNIFI_PW=

UP_POLLER_DEBUG=false
UP_UNIFI_USER=
UP_UNIFI_PASS=

MAC_PROMETHEUS=
MAC_GRAFANA=
MAC_CADVISOR=
MAC_UNIFI=
MAC_UNIFI_POLLER=
MAC_SMARTMON=

SUBNET_MONITORING=
