ADMIN_USER=
ADMIN_PASSWORD=
INFLUXDB_READ_USER=
INFLUXDB_READ_PASSWORD=
SCRAPE_URI=http://somehost:9080/

MAC_PROMETHEUS=
MAC_GRAFANA=
MAC_NODEEXPORTER=
MAC_CADVISOR=
MAC_INFLUXDB=
MAC_NGINXEXPORTER=

SUBNET_MONITORING=
